.primaryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  background: var(--brand-color);
  padding-left: var(--page-wrapper-padding-inline);
  margin-left: calc(-1 * var(--page-wrapper-padding-inline));
  color:var(--text-color);
}

.primaryHeader:first-child {
  color: var(--color-white);
}

.mobileNavToggle {
  display: none;
}

.logo {
  margin-right: 1rem;
}

.primaryNavigation {
  list-style: none;
  padding: 0;
  margin: 0;
  /* background: hsla(80, 90%, 40%, 0.95); */
  background: hsla(0, 0%, 85%, 0.97);
  color:var(--text-color);
}

@supports(backdrop-filter: blur(0.75rem)) {
  .primaryNavigation {
    background: hsla(95, 85%, 25%, 0.1);
    backdrop-filter: blur(0.75rem);
  }
}

.primaryNavigation li::first-letter {
  font-weight: 600;
  font-size: 1.3em;
}

.primaryNavigation {
  gap: clamp(0.2em, 5vw, 2em);
  align-items: center;
}

.primaryNavigation li {
  letter-spacing: .1em;
}

@media screen and (max-width: 35rem) {

  .primaryHeader > div {
    width:100%;
  }

  .primaryNavigation {
    position:fixed;
    inset: 0 0 0 50%;
    flex-direction: column;
    padding: min(2.5em, calc(var(--header-height) - 0.8rem)) 4rem;
    transform:translateX(100%);
    transition: transform 250ms ease-in-out;
    z-index: 1000;
  }

  .primaryNavigation[data-menu-open="true"] {
    transform:translateX(0%)
  }

  .mobileNavToggle {
    display: block;
    /* position: absolute; */
    order: 99;
    width: 2rem;
    aspect-ratio: 1;
    top: 0rem;
    right: 2rem;
    z-index: 9999;
  }
}


@media (min-width:35em) {
  .primaryNavigation {
    padding: 1rem;
    font-size: 1.2rem;
  }
}
