.wrapper {
  display: block;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  transition: font-weight 300ms, transform 300ms;
  will-change: transform;
}

@media (min-width: 35rem) {
  .wrapper {
    font-size: 1.5rem;
  }
}

@media (pointer: fine) {
  .wrapper:hover {
    font-weight: 900;
    transition: font-weight 100ms, transform 100ms;
    transform: scale(1.05);
  }
}
