.wrapper {
  border-radius: 0px !important;
  border: 1px solid var(--color-card-border);
  margin-block: calc(var(--theme-padding-default)/2);
}

.wrapper pre {
  border-radius: 0 0 var(--theme-radius-default) var(--theme-radius-default);
  padding: 0.5em !important;
}

.wrapper code {
  --font-code: var(--font-mono);
  font-family: var(--font-code);
  white-space: pre-wrap;
}

.wrapper code > div {
  font-size: 0.875rem;
  padding: 0px !important;
}

@media (min-width: 56rem) {
  .wrapper {
    border-radius: var(--theme-radius-default) !important;
  }
}
